################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HRM.Api/bin/Debug
/HRM.Api/obj
/HRM.Api/Properties
/HRM.Api/appsettings.Development.json
/HRM.Api/appsettings.json
/HRM.App/.vs/HRM.App
/HRM.App/bin/Debug/netstandard2.1
/HRM.App/obj
/HRM.App/Properties
/HRM.Shared/bin/Debug/netstandard2.0
/HRM.Shared/obj
/HRM.App/HRM.App.sln
/HRM.App/.editorconfig
